<div class="cont">
    <div class="menu">
        <header class="barraNav">
            <img id="imgLogo" src="../..//assets/Imagem/kymlogo.jpg" alt="Kymmultimarcas">
        </header>
    
            <h6>CATEGORIAS</h6>
            <ul>
                <li><a routerLink="'/bermudas'" routerLinkActive="active">Bermudas</a></li>
                <li><a routerLink="'/bones'" routerLinkActive="active">Bones</a></li>
                <li><a routerLink="'/calcas'" routerLinkActive="active">Calcas</a></li>
                <li><a routerLink="'/camisas'" routerLinkActive="active">Camisas</a></li>
                <li><a routerLink="'/camisetas'" routerLinkActive="active">Camisetas</a></li>
                <li><a routerLink="'/carteiras'" routerLinkActive="active">Carteiras</a></li>
                <li><a routerLink="'/cuecas'" routerLinkActive="active">Cuecas</a></li>
                <li><a routerLink="'/oculos'" routerLinkActive="active">Oculos</a></li>
                <li><a routerLink="'/shorts'" routerLinkActive="active">Shorts</a></li>
                <li><a routerLink="'/tenis'" routerLinkActive="active">Tenis</a></li>
            </ul>
    </div>
    <div class="produtos">
        <router-outlet></router-outlet>
    </div>
</div>
